<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
</head>
<body>
<header th:fragment="header">
    <div class="header" style="background-color: rgba(95, 158, 160, 0.692); position: fixed; width: 240px; display: flex; flex-direction: column; bottom: 12px; top: 12px; left: 30px; border-radius: 10px; max-height: 700px;">
        <div class="logo" style="margin-top: 24px; display: flex; justify-content: center; flex-direction: column; align-items: center;">
			<img th:src="@{/img/lg.png}" alt="Logo" style="width: 150px; border-radius: 50%;">
            <div class="title" style="display: flex; justify-content: center;">
                <img th:src="@{/img/title.png}" style="width: 160px;" alt="">
            </div>
        </div>
        <div class="menu" style="margin-top: 30px;">
            <ul style="padding: 0;">
                <li style="line-height:1.2;cursor: pointer; margin: 12px; padding: 8px; list-style: none; border-radius: 5px; background-color: rgba(122, 71, 23, 0.671); box-shadow: 3px 4px 10px #0006;"><a href="/user/main" style="text-decoration: none; font-size: 18px; text-transform: uppercase; color: #ffff;">Đặt món</a></li>
                <li style="line-height:1.2;cursor: pointer; margin: 12px; padding: 8px; list-style: none; border-radius: 5px; background-color: rgba(122, 71, 23, 0.671); box-shadow: 3px 4px 10px #0006;"><a href="/user/xemdon" style="text-decoration: none; font-size: 18px; text-transform: uppercase; color: #ffff;">Đơn hàng</a></li>
                <li style="line-height:1.2;cursor: pointer; margin: 12px; padding: 8px; list-style: none; border-radius: 5px; background-color: rgba(122, 71, 23, 0.671); box-shadow: 3px 4px 10px #0006;"><a href="/user/infor" style="text-decoration: none; font-size: 18px; text-transform: uppercase; color: #ffff;">Hồ sơ</a></li>
                <li style="line-height:1.2;cursor: pointer; margin: 12px; padding: 8px; list-style: none; border-radius: 5px; background-color: rgba(122, 71, 23, 0.671); box-shadow: 3px 4px 10px #0006;"><a href="/change-password" style="text-decoration: none; font-size: 18px; text-transform: uppercase; color: #ffff;">Đổi mật khẩu</a></li>
            </ul>
        </div>
        <div class="user" style="display: flex; margin-top: 14px;flex-direction:column; justify-content: center;align-items:center; position: relative;">
            <i class="fas fa-sign-out-alt" style="font-size: 50px;"></i>
            <h4 style="font-size: 16px;"><a style="color: #000;text-decoration: none; margin:0;" th:href="@{/login}">Đăng xuất</a></h4>
        </div>
    </div>
</header>
</body>
</html>
